<div class="table-responsive">          
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>nome</th>
                <th>email</th>
                <th>anno nascita</th>
                <th>sesso</th>
                <th>privacy</th>
                <th>azioni</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($table_rows as $table_row): ?> 
            <?php echo $table_row; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>