<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Utenti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.11/URI.min.js"></script>
    </head>
    <body>
        <div class="container">
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modifica utente</h4>
                </div>
                <div class="modal-body">
                  <!-- modal content -->
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="input_name" class="col-sm-2 control-label">Nome</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="input_name" placeholder="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="input_email" class="col-sm-2 control-label">Email</label>
                          <div class="col-sm-10">
                              <input type="email" class="form-control" id="input_email" placeholder="">
                          </div>
                      </div>
                      <!-- select -->
                      <div class="form-group">
                          <label for="birth_year" class="col-sm-2 control-label">Anno nascita</label>
                          <div class="col-sm-2"> <!-- we give 2 columns to the select for resizing it (because by default this select is too large) -->
                              <select id="birth_year" class="form-control">
                                  <option>-</option> <!-- default option -->
                                  <?php for($i=2005;$i>=1930;$i--): ?> 
                                  <?php   echo '<option>' . $i . '</option>'; ?>
                                  <?php endfor; ?>
                              </select>
                          </div>
                      </div>
                      <!-- END select -->
                      <!-- radios -->
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Sesso</label>
                          <div class="col-sm-4"> <!-- we give 2 columns to the select for resizing it (because by default this select is too large) -->
                              <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Femmina
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Maschio
                              </label>
                          </div>
                      </div>
                      <!-- END radios -->

                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox"> Normativa privacy
                                  </label>
                              </div>
                          </div>
                      </div>
                  </form>

                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                  <button type="button" class="btn btn-primary">Salva</button>
                </div>
              </div>
            </div>
          </div>
          <!-- END modal -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Articles</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="../application/views/ResponsiveSite/product.html">ResponsiveSite</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h1>Utenti</h1>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Nuovo utente
                </button> 
            </div>

            <?php echo $page_content; ?>
            <div id="page_content">
              <!-- we inject the page_content here using Jquery -->
            </div>
        </div>
    </div>
        <script>
            /*
            let httpRequest;

            (() => {
                document
                .getElementById("ajaxButton")
                .addEventListener("click", makeRequest);

                function makeRequest() {
                httpRequest = new XMLHttpRequest();

                if (!httpRequest) {
                    alert("Giving up :( Cannot create an XMLHTTP instance");
                    return false;
                }
                httpRequest.onreadystatechange = alertContents;
                httpRequest.open("GET", "http://localhost/Users/public/user/ciao");
                httpRequest.send();
                }

                function alertContents() {
                    try {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            alert(httpRequest.responseText);
                        } else {
                            alert("There was a problem with the request.");
                        }
                        }
                    } catch (e) {
                        alert(`Caught Exception: ${e.description}`);
                    }
                }
            })();*/
            
            let httpRequest;

            function removeUser(clicked_button_object) {
                var user_id = getClickedButtonValue(clicked_button_object);
                
                let confirm_text = "Sei sicuro di voler rimuovere l'utente #" + user_id + "?";
                if(confirm(confirm_text)) {
                    // user confirmed the action
                    makeRequest(user_id);
                }
            }
            
            function getClickedButtonValue(clicked_button_object) {
                clicked_button_value = clicked_button_object.value;
                return clicked_button_value;
            } 

            function makeRequest(user_id) {
                httpRequest = new XMLHttpRequest();

                if (!httpRequest) {
                    alert("Cannot create an XMLHTTP instance");
                    return false;
                }
                
                httpRequest.onreadystatechange = processResponse;
                
                var current_url = window.location.href;
                httpRequest.open("GET", current_url + '/remove/' + user_id);
                httpRequest.send();
            }

            function processResponse() {
                try {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            // alert(httpRequest.responseText);
                            var deserialized_response = JSON.parse(httpRequest.responseText);
                            var new_user_table = deserialized_response.data.html;

                            $("#page_content").replaceWith('<div id="page_content">' + new_user_table + '</div>'); // replace the old user_table with the updated user-table
                        } else {
                            alert("There was a problem with the request.");
                        }
                    }
                } catch (e) {
                    alert(`Caught Exception: ${e.description}`);
                }
            }

            /*
            function sendRequest(user_id) {
                var current_url = window.location.href;
                let httpRequest = new XMLHttpRequest();
        
                if (!httpRequest) {
                    alert("Cannot create an XMLHTTP instance");
                    return false;
                }
                httpRequest.onreadystatechange = handleServerResponse(httpRequest);
                httpRequest.open("GET", current_url + '/remove/' + user_id);
                httpRequest.send();
            }
        
            function handleServerResponse(httpRequest) {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                            // 
                            console.log("prova");

                            var deserialized_response = JSON.parse(httpRequest.responseXML);
                            var page_content = deserialized_response.data.html;
                            
                            alert(page_content);
                            // $("#page_content").append(page_content);

                    } else {
                        alert("There was a problem with the request.");
                    }
                }
            } */

             /*
            $(document).ready(function(){
                // jQuery code goes here...

                // const obj = JSON.parse();


    
            }); */
      </script>
    </body>
</html>

<style>
  .last_update_datetime {
      text-align: center;
  }

  .custom_dropdown {
      border-width : 0;
      font-weight: bold;
  }
</style>
