<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Utenti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.11/URI.min.js"></script>
    </head>
    <body>
        <div class="container">
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modifica utente</h4>
                </div>
                <div class="modal-body">
                  <!-- modal content -->
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="input_name" class="col-sm-2 control-label">Nome</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="input_name" placeholder="" value="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="input_email" class="col-sm-2 control-label">Email</label>
                          <div class="col-sm-10">
                              <input type="email" class="form-control" id="input_email" placeholder="">
                          </div>
                      </div>
                      <!-- select -->
                      <div class="form-group">
                          <label for="birth_year" class="col-sm-2 control-label">Anno nascita</label>
                          <div class="col-sm-3"> <!-- we give 2 columns to the select for resizing it (because by default this select is too large) -->
                              <select id="birth_year" class="form-control">
                                  <option>-</option> <!-- default option -->
                                  <?php for($i=2005;$i>=1930;$i--): ?> 
                                  <?php   echo '<option>' . $i . '</option>'; ?>
                                  <?php endfor; ?>
                              </select>
                          </div>
                      </div>
                      <!-- END select -->
                      <!-- radios -->
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Sesso</label>
                          <div class="col-sm-4"> <!-- we give 2 columns to the select for resizing it (because by default this select is too large) -->
                              <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="is_female_button" value="false"> Femmina
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="inlineRadioOptions" id="is_male_button" value="false"> Maschio
                              </label>
                          </div>
                      </div>
                      <!-- END radios -->

                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <div class="checkbox">
                                  <label>
                                      <input id="privacy_button" type="checkbox"> Normativa privacy
                                  </label>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div class="alert alert-danger" role="alert">Ricompila il form</div>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-primary" onclick="createUser();">Salva</button>
                </div>
              </div>
            </div>
          </div>
          <!-- END modal -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Articles</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="../application/views/ResponsiveSite/product.html">ResponsiveSite</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h1>Utenti</h1>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Nuovo utente
                </button> 
            </div>

            <div id="page_content">
                <!-- we inject the page_content here using Jquery (after the removal, creation and update of a user) or F3 when the client requests the index page -->
                <?php echo $page_content; ?>
            </div>

        </div>
    </div>
        <script>
            let httpRequest;

            function removeUser(clicked_button_object) {
                var user_id = getClickedButtonValue(clicked_button_object);
                
                let confirm_text = "Sei sicuro di voler rimuovere l'utente #" + user_id + "?";
                if(confirm(confirm_text)) {
                    // user confirmed the action
                    requestUserRemoval(user_id);
                }
            }
            
            function getClickedButtonValue(clicked_button_object) {
                clicked_button_value = clicked_button_object.value;
                return clicked_button_value;
            } 

            function requestUserRemoval(user_id) {
                httpRequest = new XMLHttpRequest();

                if (!httpRequest) {
                    alert("Cannot create an XMLHTTP instance");
                    return false;
                }
                
                httpRequest.onreadystatechange = processResponseToUserRemoval;
                
                var current_url = window.location.href;
                httpRequest.open("GET", current_url + '/remove/' + user_id);
                httpRequest.send();
            }

            function processResponseToUserRemoval() {
                try {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            var deserialized_response = JSON.parse(httpRequest.responseText);
                            var new_user_table = deserialized_response.data.html;

                            $("#page_content").html(new_user_table); // replace the old user_table with the updated user-table
                        } else {
                            alert("There was a problem with the request.");
                        }
                    }
                } catch (e) {
                    alert(`Caught Exception: ${e.description}`);
                }
            }

            function createUser() {
                var post_content = getUserInput();
                requestUserCreation(post_content);


            }

            function requestUserCreation(post_content) {
                httpRequest = new XMLHttpRequest();

                if (!httpRequest) {
                    alert("Cannot create an XMLHTTP instance");
                    return false;
                }

                httpRequest.onreadystatechange = processResponseToUserCreation;
                
                var current_url = window.location.href;
                httpRequest.open("POST", current_url + '/save');
                
                httpRequest.setRequestHeader(
                    "Content-Type",
                    "application/json",
                );
                // httpRequest.send(`userName=${encodeURIComponent(userName)}`);
                httpRequest.send(post_content);
            }

            function getUserInput() {
                var name = $("#input_name").val();
                var email = $("#input_email").val();
                var birth_year = parseInt($("#birth_year").val());
                var is_female = document.getElementById("is_female_button").checked;
                var is_male = document.getElementById("is_male_button").checked;
                var privacy_agreed = document.getElementById("privacy_button").checked;

                var post_content = {"name" : name , "email" : email, "birth_year" : birth_year, "is_female" : is_female, "is_male" : is_male, "privacy_agreed" : privacy_agreed};

                //
                // alert(JSON.stringify(post_content));
                return JSON.stringify(post_content);
            }

          




            function processResponseToUserCreation() {
                /*
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                    const response = JSON.parse(httpRequest.responseText);
                    alert(response.computedString);
                    } else {
                    alert("There was a problem with the request.");
                    }
                } */
            }
      </script>
    </body>
</html>

<style>
    .last_update_datetime {
        text-align: center;
    }

    .custom_dropdown {
        border-width : 0;
        font-weight: bold;
    }
</style>
