<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Utenti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.11/URI.min.js"></script>

        <!-- library for showing loading spinner inside the save button -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="modal_title">Modifica utente</h4>
                </div>
                <div class="modal-body">
                  <!-- modal content -->
                  <form id="myForm" class="form-horizontal" action="" method="post">
                      <div id="highlight_name_error" class="form-group">
                          <div class="row">
                            <div class="col-sm-10 col-sm-offset-2">
                                <label id="error_name_label" for="input_name" class="control-label"></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-1 col-sm-offset-1">
                                <label for="input_name" class="control-label">Nome</label>
                            </div>
                            <div class="col-sm-9">  <!-- "col-sm-9" and not "col-sm-10" for leaving a blank column to the right of the input_name -->
                                <input name="name" type="text" class="form-control" id="input_name" placeholder="" value="" onclick="reactivateSaveButton();">
                            </div>
                          </div>
                      </div>
                      <div id="highlight_email_error" class="form-group">
                        <div class="row">
                          <div class="col-sm-10 col-sm-offset-2">
                              <label id="error_email_label" for="input_email" class="control-label"></label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-1 col-sm-offset-1">
                              <label for="input_email" class="control-label">Email</label>
                          </div>
                          <div class="col-sm-9">  <!-- "col-sm-9" and not "col-sm-10" for leaving a blank column to the right of the input_name -->
                              <input name="email" type="email" class="form-control" id="input_email" placeholder="" value="" onclick="reactivateSaveButton();">
                          </div>
                        </div>
                    </div>
                      <!-- we need to store the user_id inside this hidden input when the user need to update a user  -->
                      <input name="user_id" hidden type="text" id="input_user_id" placeholder="" value="empty">
                      <!-- select -->
                      <div id="highlight_birth_year_error" class="form-group">
                        <div class="row">
                          <div class="col-sm-10 col-sm-offset-2">
                              <label id="error_birth_year_label" for="birth_year" class="control-label"></label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-1 col-sm-offset-1">
                              <label for="birth_year" class="control-label">Anno nascita</label>
                          </div>
                          <div class="col-sm-3">
                            <select name="birth_year" id="birth_year" class="form-control" onclick="reactivateSaveButton();">
                                <option>-</option> <!-- default option -->
                                <?php for($i=2005;$i>=1930;$i--): ?> 
                                <?php   echo '<option>' . $i . '</option>'; ?>
                                <?php endfor; ?>
                            </select> 
                          </div>
                        </div>
                    </div>               
                    <!-- END select -->
                    
                      <!-- radios -->
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Sesso</label>
                          <div class="col-sm-4"> <!-- we give 2 columns to the select for resizing it (because by default this select is too large) -->
                              <label class="radio-inline">
                                  <input name="is_female" type="radio" name="inlineRadioOptions" id="is_female_button" value="false"> Femmina
                              </label>
                              <label class="radio-inline">
                                  <input name="is_male" type="radio" name="inlineRadioOptions" id="is_male_button" value="false"> Maschio
                              </label>
                          </div>
                      </div>
                      <!-- END radios -->

                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <div class="checkbox">
                                  <label>
                                      <input name="privacy_agreed" id="privacy_button" type="checkbox"> Normativa privacy
                                  </label>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div hidden class="alert alert-danger" role="alert">Ricompila il form</div>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearErrorLabelsContent();">Chiudi</button> <!-- we use clearErrorLabelsContent() 
                    so that the client, once he reopens the modal, he will not see the error messages relative to the previous submit  -->
                    <button id="save_button" type="button" class="btn btn-primary" onclick="saveUser();">
                        Salva
                    </button>
                </div>
              </div>
            </div>
          </div>
          <!-- END modal -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Articles</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="../application/views/ResponsiveSite/product.html">ResponsiveSite</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h1>Utenti</h1>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="createUser()">
                    Nuovo utente
                </button> 
            </div>

            <div id="page_content">
                <!-- we inject the page_content here using Jquery (after the removal, creation and update of a user) or F3 when the client requests the index page -->
                <?php echo $page_content; ?>
            </div>
        </div>
    </div>
        <script>
            /*
            $(document).ready(function(){
                
            }); */
            
            function removeUser(clicked_button_object) {
                var user_id = getClickedButtonValue(clicked_button_object);
                
                let confirm_text = "Sei sicuro di voler rimuovere l'utente #" + user_id + "?";
                if(confirm(confirm_text)) {
                    // user confirmed the action
                    requestUserRemoval(user_id);
                }
            }

            function getClickedButtonValue(clicked_button_object) {
                clicked_button_value = clicked_button_object.value;
                return clicked_button_value;
            } 

            function requestUserRemoval(user_id) {
                var current_url = window.location.href;
                
                $.get(current_url + '/remove/' + user_id)
                 .done(function(data) {
                    var deserialized_response = JSON.parse(data);
                    var new_user_table = deserialized_response.data.html;
                    $("#page_content").html(new_user_table); // replace the old user_table with the updated user-table
                 });
            }

            function updateUser(clicked_button_object) {
                var user_id = getClickedButtonValue(clicked_button_object);

                var current_url = window.location.href;
                var url = current_url + '/update/' + user_id;
                $.get(url, "json")
                 .done(function(data) {
                    var old_user = JSON.parse(data); // "data" contains the rsponded json
                     
                    $('#input_name').val(old_user.name); // an alternative to this is statement is: $('#input_name').attr('value', JSON.parse(data).name);
                    $('#input_email').val(old_user.email);
                    $('#birth_year').val(old_user.birth_year);
                    
                    // set the radio button
                    if(old_user.is_male == true) {
                        $('#is_male_button').attr("checked", "checked"); // it adds the "checked" attribute to this radio buton
                    } else {
                        $('#is_female_button').attr("checked", "checked"); // it adds the "checked" attribute to this radio buton
                    }

                    // set the check box
                    if(old_user.privacy_agreed == true) {
                        $('#privacy_button').attr("checked", "checked");
                    }

                    cheangeModalHeader(true); // it changes the modal header text to "Modifica Utente"

                    $('#input_user_id').val(user_id); // we need to store the user_id if we want to save the updated user
                 });
            }

            function createUser() {
                resetAllModalInputs();
                cheangeModalHeader(false); // it changes the modal header text to "Crea Utente"
            }

            function resetAllModalInputs() {
                $('#input_name').val(""); // an alternative to this is statement is: $('#input_name').attr('value', JSON.parse(data).name);
                $('#input_email').val("");
                $('#birth_year').val("-");
                
                // uncheck the radio buttons
                $('#is_male_button').removeAttr("checked"); 
                $('#is_female_button').removeAttr("checked");

                // uncheck the check box
                $('#privacy_button').removeAttr("checked");
            }

            function cheangeModalHeader(is_updating) {
                if(is_updating) {
                    // client is updating a user
                    $('#modal_title').text("Modifica utente"); // change modal's header
                } else {
                    // client is creating a user
                    $('#modal_title').text("Crea utente"); // change modal's header
                }
            }

            function saveUser() {
                resetTheForm(); // so that the client will not see graphic elements relative to the previous submit
                
                var user_id = $('#input_user_id').val();
                if(user_id != "null") { 
                    user_id = parseInt(user_id);
                }

                // alert(user_id);

                var url = generateUrl(user_id);
                var post_content = generatePostContent(user_id);
                
                $.post(url, post_content, "json")
                 .done(function(data) {
                    var responded_json = JSON.parse(data);

                    // alert(responded_json.mex);
                    
                    if(responded_json.status == "success") {
                        // client filled properly the form => "reponded_json" contains the html of the updated user_table
                        
                        
                        alert("NO ERROR");
                    } else if (responded_json.status == "fail") {
                        // client didn't fill properly the form => "reponded_json" contains the error messages
                        
                        var error_name_massage = responded_json.data.name;
                        if(error_name_massage != null) {
                            // there is an error in the "name" input
                            $("#highlight_name_error").attr("class", "form-group has-error");
                            $('#error_name_label').text(error_name_massage);
                        }

                        var error_email_massage = responded_json.data.email;
                        if(error_email_massage != null) {
                            // there is an error in the "email" input
                            $("#highlight_email_error").attr("class", "form-group has-error");
                            $('#error_email_label').text(error_email_massage);
                        }

                        var error_birth_year_massage = responded_json.data.birth_year;
                        if(error_birth_year_massage != null) {
                            // there is an error in the "birth_year" select
                            $("#highlight_birth_year_error").attr("class", "form-group has-error");
                            $('#error_birth_year_label').text(error_birth_year_massage);
                        }
                        
                    }

                    setTimeout(function() {
                        $('#loading_spinner').remove(); // hide the loading spinner
                        $('#save_button').attr("disabled", "disabled");
                    }, 2000);
                 })
                 .fail(function(jqXHR, textStatus, errorThrown) {
                    // alert("ERRONEO");
                    alert(errorThrown);

                 });
            }

            function generateUrl(user_id) {
                var current_url = window.location.href;
                var url = current_url + '/save/';
                
                if(user_id != "null") {
                    // client has to update the user
                    url += user_id;
                } 

                return url;
            }

            function generatePostContent(user_id) {
                var name = $("#input_name").val();
                var email = $("#input_email").val();
                var birth_year = $("#birth_year").val() == '-'? '-' : parseInt($("#birth_year").val()); // so that this variable could contain "-" or a number parsed as an integer representing a year
                var is_female = document.getElementById("is_female_button").checked;
                var is_male = document.getElementById("is_male_button").checked;
                var privacy_agreed = document.getElementById("privacy_button").checked;

                var post_content = {"user_id" : user_id, "name" : name , "email" : email, "birth_year" : birth_year, "is_female" : is_female, "is_male" : is_male, "privacy_agreed" : privacy_agreed};

                return post_content;
            }

            function reactivateSaveButton() {
                if(document.getElementById("save_button").hasAttribute("disabled")) {
                    $("#save_button").removeAttr("disabled");
                }
            }

            function resetTheForm() {
                clearErrorLabelsContent();
                removeErrorHighLighting();
                $("#save_button").append('<i id="loading_spinner" class="fa fa-circle-o-notch fa-spin"></i>'); // show the loading spinner inside the save_button
            }

            function clearErrorLabelsContent() {
                $('#error_name_label').text("");
                $('#error_email_label').text("");
                $('#error_birth_year_label').text("");
            }

            function removeErrorHighLighting() {
                $("#highlight_name_error").attr("class", "form-group");
                $("#highlight_email_error").attr("class", "form-group");
                $("#highlight_birth_year_error").attr("class", "form-group");
            }

            function test() {
                var current_url = window.location.href;
                var url = current_url + "/save";
                
                alert(url);
                var form = document.getElementById("myForm");
                
                $("#myForm").attr("action", url);
                form.submit();
            }


            /*
            function userHasToBeUpdated() {
                var user_id = $('#input_user_id').val();
                if(user_id == null) {
                    return false;
                } else {
                    // client has to update the user
                    return true;
                }
            } */
        </script>
    </body>
</html>

<style>
    .last_update_datetime {
        text-align: center;
    }

    .custom_dropdown {
        border-width : 0;
        font-weight: bold;
    }
</style>
